<div class="container" role="document">
  <h1>Switch</h1>
<ul [ngSwitch]="so">
  <li *ngSwitchCase="'Windows'">El que usan todos...</li>
  <li *ngSwitchCase="'Mac'">El de los que tienen mucha pasta...</li>
  <li *ngSwitchCase="'Linux'">El de los pro...</li>
  <li *ngSwitchDefault="'Windows'">¿Tu S.O.?</li>
</ul>

<input [ngStyle]="{'background':color ? color:'red'}" type="text" [(ngModel)]="so"/>
<button (click)="color = 'yellow'" [ngClass]="{'activoyellow': color == 'yellow'}">Amarillo</button>
<button (click)="color = 'blue'" [ngClass]="{'activoblue': color == 'blue'}">Azul</button>
<button (click)="color = 'purple'" [ngClass]="{'activopurple': color == 'purple'}">Morado</button>
</div>
<div class="container" role="document">
  <app-libros></app-libros>
</div>