.yellow{
    background: yellow;
}
.activoyellow{
    background: yellow;
    color: white;
}
.blue{
    background: blue;
}
.activoblue{
    background: blue;
    color: white;
}
.purple{
    background: purple;
}
.activopurple{
    background: purple;
    color: white;
}